body {
 
  align-items: center;
}


.tv-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 80vw;
    max-width: 660px;
    margin-left: 500px;
    height: 45vw; /* Maintain a 16:9 aspect ratio for the TV screen */
    max-height: 410px;
    border: 10px solid #241901;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  }
  
  .video-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
  }
  
  .play-pause-btn {
    cursor: pointer;
  }
  
  .time-display {
    white-space: nowrap;
  }
  #f{
    color: rgb(255, 0, 0);
  }