body {
 
  align-items: center;
}


.tv-container {
    position: relative;
    overflow: hidden;
    width: 80vw;
    max-width: 800px;
    height: 45vw; /* Maintain a 16:9 aspect ratio for the TV screen */
    max-height: 450px;
    border: 10px solid #000;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTw3vKDNJAFdTWT7zaPKJ9agMdYy_pZd_T0Nw&usqp=CAU'); /* Replace with the path to your background image */
  }
  
  .video-player {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 14px;
  }
  
  .play-pause-btn {
    cursor: pointer;
  }
  
  .time-display {
    white-space: nowrap;
  }
  #f{
    color: rgb(255, 0, 0);
  }